<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    
  </appSettings>
</configuration>